{% extends 'base.html' %}
{% load static %}
{% block content %}
      <!-- Sidebar Navigation end-->
      <div class="page-content">
        <!-- Page Header-->
        <div class="page-header no-margin-bottom">
          <div class="container-fluid">
            <h2 class="h5 no-margin-bottom">Basic forms</h2>
          </div>
        </div>
        <!-- Breadcrumb-->
        <div class="container-fluid">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">Create Meet</li>
          </ul>
        </div>
        <section class="no-padding-top">
          <div class="container-fluid">
            <div class="row">
              <!-- Form Elements -->
              <div class="col-lg-12">
                <div class="block">
                  <div class="title"><strong>Delete Meet...</strong></div>
                  <div class="block-body">
                    <form class="form-horizontal" method="POST">
                      {% csrf_token %}
                        <div class="form-group row">
                            <div class="col-sm-9 ml-auto">
                                <p>Are you sure you want to delete?</p>
                            </div>
                        </div>
                      <div class="form-group row">
                        <div class="col-sm-9 ml-auto">
                          <a href="{% url 'index' %}" class="btn btn-secondary">Cancel</a>
                          <button type="submit" class="btn btn-primary">Delete</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <footer class="footer">
          <div class="footer__block block no-margin-bottom">
            <div class="container-fluid text-center">
              <!-- Please do not remove the backlink to us unless you support us at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
              <p class="no-margin-bottom">2021 &copy; Your company. Design by <a href="https://bootstrapious.com/p/bootstrap-4-dark-admin">Bootstrapious</a>.</p>
            </div>
          </div>
        </footer>
      </div>
    </div>
    {% endblock %}